.gradle/*
.idea/*
gradle/*
idea/*
.idea/misc.xml
.idea/workspace.xml
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.gradle/2.10/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/libraries/firebase_analytics_9_4_0.xml
.idea/libraries/firebase_analytics_9_4_0.xml
.idea/libraries/firebase_auth_9_4_0.xml
.idea/libraries/firebase_auth_common_9_4_0.xml
.idea/libraries/firebase_storage_9_4_0.xml
.idea/libraries/firebase_storage_common_9_4_0.xml
.idea/libraries/firebase_storage_common_9_4_0.xml
.idea/libraries/play_services_9_4_0.xml
.idea/libraries/play_services_analytics_impl_9_4_0.xml
.idea/libraries/play_services_appindexing_9_4_0.xml
.idea/libraries/animated_vector_drawable_23_4_0.xml
.idea/libraries/animated_vector_drawable_23_4_0.xml
.idea/libraries/appcompat_v7_23_4_0.xml
.idea/libraries/cardview_v7_23_0_1.xml
.idea/libraries/design_23_4_0.xml
.idea/libraries/mediarouter_v7_23_0_0.xml
.idea/libraries/recyclerview_v7_23_4_0.xml
.idea/libraries/support_annotations_23_4_0.xml
.idea/libraries/support_v4_23_4_0.xml
.idea/libraries/support_vector_drawable_23_4_0.xml
.idea/workspace.xml
.idea/libraries/cardview_v7_23_0_1.xml
local.properties
local.properties
